* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px; }

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: steelblue;
  background-image: url("../images/water-ripple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

a {
  color: yellow; }

p {
  margin: 20px; }

button {
  display: block;
  margin: 20px;
  width: 100px; }

.visible {
  display: block; }

.hidden {
  display: none; }

.container {
  height: 80vh;
  width: 80vw; }

#topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5%;
  width: 100%;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: gold; }

#viewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 95%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: yellow; }

#about {
  margin-left: 50px;
  margin-right: 50px; }

#projects {
  margin-left: 50px;
  margin-right: 50px; }

#credit {
  margin-top: 10px;
  color: aliceblue; }

.list {
  list-style: none; }

.list_heading {
  color: gold;
  text-decoration: underline;
  -webkit-text-decoration-color: gold;
          text-decoration-color: gold;
  margin-bottom: 20px; }

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px; }

@media only screen and (max-width: 950px) {
  body {
    font-size: 12px; }

  .container {
    height: 100%;
    width: 100%; }

  .viewer {
    overflow: scroll; }

  #about {
    margin: 20px; }

  #projects {
    margin: 20px; } }
