@media screen and (max-width: 80em) {
html {
    font-size: 14px;
  }
  .list-description {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 70em) {
  html {
    font-size: 12px;
  }
  .list-description {
    margin-top: 1rem;
  }
}


@media screen and (max-width: 60em) {
  html {
    font-size: 10px;
  }
  .container {
    height: 100%;
    width: 100%;
  }
  .viewer {
    overflow: scroll;
  }
  .list-description {
    margin-top: 0;
  }
  #about {
    margin: 20px;
  }
}

@media screen and (max-width: 50em) {
  html {
    font-size: 8px;
  }
  .container {
    height: 100%;
    width: 100%;
  }
  .viewer {
    overflow: scroll;
  }
  .list-description {
    display: inline;
    margin-top: 0;
  }
  .list-image {
    margin: 2rem;
    height: 10rem;
    width: 20rem;
  }
  #about {
    margin: 20px;
  }
}