.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.enlarged {
  min-height: 100vh !important;
}

.shadowed {
  box-shadow: 0 0 20px gold !important;
}