@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  @include flexAndCenter(column);
  width: 100vw;
  height: 100vh;
  background-color: steelblue;
  background-image: url("../images/sonika-agarwal-9MGe1GfJ4IE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: yellow;
}

.aboutBlock {
  margin: 20px 50px;
}

button {
  display: block;
  margin: 20px 20px 0;
  width: 100px;
}

.container {
  height: 80vh;
  width: 80vw;
}

#topbar {
  display: flex;
  height: 5%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  color: gold;
}

#viewer {
  @include flexAndCenter(column);
  background-color: rgba(0, 0, 0, 0.92);
  min-height: 95%;
  width: 100%;
  color: yellow;
}

.panel {
  @include flexAndCenter(column);
  height: 100%;
  width: 100%;
  &#about {
    display: none;
  }
  &#links {
    display: none;
  }
}

#credit {
  margin-top: 10px;
  color: aliceblue;
}

#projectsPanel {
  display: none;
}

#projectsNavbar {
  @include flexAndCenter(row);
  height: 5%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.projectNavLink {
  align-self: flex-start;
  margin: 0 20px;
  cursor: pointer;
}

#projectsListButton {
  box-shadow: 0 0 20px gold;
}

#projectsViewer {
  background-color: rgba(0, 0, 0, 0);
  min-height: 95%;
  width: 100%;
  color: yellow;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 30px 0;
  text-align: center;
  &#bootstrapSitesList {
    display: none;
  }
  &#reactAppList {
    display: none;
  }
}

.list_heading {
  display: block;
  color: #fdff00;
  text-decoration: underline;
  text-decoration-color: #fdff00;
  margin: 40px;
}

.list_item_body_container {
  display: flex;
  flex-direction: row;
  margin: 20px 30px;
}

.list_image {
  display: inline;
  height: 300px;
  width: 600px;
  margin-right: 50px;
}

.list_description {
  text-align: left;
  margin-top: 100px;
}

.link_list_heading {
  margin: 50px 0 20px;
}

#mainMenuButton {
  display: none;
  margin: 20px;
}

@import 'breakpoints';